Parser fails when quoted string includes dquotes and comma

Hi,

First of all, thanks for the lib, it helps a lot :)

I may have some cases where the parser fails : 
````javascript
//Inside dquotes are not escaped, but it works
>> emailAddresses.parseAddressList({
    input     : '"Blah blah "Some quoted string" foo bar" <local@domain.ltd>',
    rfc6532   : true,
    partial   : true,
    simple    : false,
    strict    : false,
    rejectTLD : true,
    startAt   : 'address-list'
});
>> OK

//Inside dquotes are not escaped, but it fails only because of the comma
>> emailAddresses.parseAddressList({
    input     : '"Blah blah "One, comma" foo bar" <local@domain.ltd>',
    rfc6532   : true,
    partial   : true,
    simple    : false,
    strict    : false,
    rejectTLD : true,
    startAt   : 'address-list'
});
>> null

//Inside dquotes are escaped, but it still fails because of the comma
>> emailAddresses.parseAddressList({
    input     : '"Blah blah \"One, comma\" foo bar" <local@domain.ltd>',
    rfc6532   : true,
    partial   : true,
    simple    : false,
    strict    : false,
    rejectTLD : true,
    startAt   : 'address-list'
});
>> null
````

If I got the RFC5322 right : 
- The display-name is a phrase
- A phrase can be a 1*word.
- A word can be a quoted-string
- A quoted-string is like `"qcontent"`
- A qcontent can be qtext or a quoted-pair
- A quoted-pair can be `\VCHAR` (VCHAR includes the comma and the double quote chars)
- A qtext is the set of ASCII chars %d33 and %d35-91 and %d93-126. In other words, the printable US-ASCII characters not including `\` or the quote character

So, for those display names : 
- `"Display, name"` is ok. It's a simple qtext
- `"Display "middle" name"` is not ok. Dquotes are not allowed in qtext and should be a quoted-pair, as `\"`. However the parser accepts it.
- `"Display \"middle\" name"` is ok. Dquotes are quoted characters, as described in the section 3.2.1 of the RFC5322
- `"Display \"one, comma\" name"` is ok. The comma is accepted as part of the qtext, and the dquotes are escaped. However the parser fails


I can also be wrong because that RFC is awful to read and understand :D In this case, I'd be glad to hear your explanations :)

Thank you for your time !

Part of the answer is that I was too tired to see I forgot to escape the backslash in my third test. So if I do 
````javascript
>> emailAddresses.parseAddressList({
    input     : '"Blah blah \\"One, comma\\" foo bar" <local@domain.ltd>',
    rfc6532   : true,
    partial   : true,
    simple    : false,
    strict    : false,
    rejectTLD : true,
    startAt   : 'address-list'
});
>> OK
````

It's OK.

Still, I don't know why it works without escaping the dquotes at all :/